@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*
    margin: 0
    padding: 0
body
    display: flex
    height: 100vh
    flex-direction: column
    justify-content: center
    align-items: center
    background: #FFF
    font-family: Montserrat

form
    width: 500px
    border: 2px solid #ededed
    border-radius: 20px
    padding: 15px
    box-sizing: border-box
    .state-input
        display: inline-block
        padding: 4px 7px
        border-radius: 7px
        font-size: 12px
        color: #fff
        font-weight: bold
        &.error
            background: #FF7166
        &.success
            background: #5BEB7A
    h3
        text-align: center
        margin: 5px 0 15px 0
        font-size: 21px
    .form-block
        margin: 15px 0 0 0
        .pre-title
            margin-bottom: 10px
            color: #518EFF
            font-size: 15px
            &.license
                font-size: 13px
                display: inline-block
        label.custom-checkbox
            display: inline-block
            width: 13px
            height: 13px
            border: 1px solid #ededed
            border-radius: 50%
            box-sizing: border-box
            font-size: 9px
            text-align: center
            line-height: 12px
            color: transparent
            user-select: none
            cursor: pointer
        input[type="checkbox"]
            display: none
            &:checked + label.custom-checkbox
                background: #518EFF
                color: #fff
        input[type="text"]
            width: 40%
            border: 1px solid #999
            border-radius: 5px
            margin-left: 10px
            height: 25px
            font-family: Montserrat
            transition: .2s
            &:active
                outline: none
            &:focus
                outline: none
                border: 1px solid #486BEB
        input[type="radio"]
            display: none
            &:checked + label.custom-radio span
                background: #518EFF
                color: #fff
        .payment-radio
            padding: 5px 0                
            label.custom-radio
                font-size: 13px
                font-weight: bold
                margin-right: 5px
                cursor: pointer
                span
                    display: inline-block
                    width: 13px
                    height: 13px
                    font-weight: normal
                    border: 1px solid #ededed
                    border-radius: 50%
                    box-sizing: border-box
                    font-size: 9px
                    text-align: center
                    line-height: 12px
                    color: transparent
                    user-select: none
        textarea
            width: 100%
            height: 180px
            padding-bottom: 15px
            font-family: Montserrat
            font-size: 11px
            padding: 7px
            box-sizing: border-box
            border-radius: 10px
            border: 1px solid #999
            resize: none
            &:focus
                outline: none
    input[type="submit"]
        margin-top: 15px
        width: 100px
        height: 35px
        border: 0
        outline: 0
        border-radius: 10px
        background: #518EFF
        color: #ffffff
        font-size: 15px
        font-weight: bold
        cursor: pointer
        transition: .2s
        &:hover
            background: #52A8FF
        