@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #FFF;
  font-family: Montserrat; }

form {
  width: 450px;
  border: 2px solid #ededed;
  border-radius: 20px;
  padding: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  form .state-input {
    display: inline-block;
    padding: 4px 7px;
    border-radius: 7px;
    font-size: 12px;
    color: #fff;
    font-weight: bold; }
    form .state-input.error {
      background: #FF7166; }
    form .state-input.success {
      background: #5BEB7A; }
  form h3 {
    text-align: center;
    margin: 5px 0 15px 0;
    font-size: 21px; }
  form .form-block {
    margin: 15px 0 0 0; }
    form .form-block .pre-title {
      margin-bottom: 10px;
      color: #518EFF;
      font-size: 15px;
      font-weight: medium; }
    form .form-block input[type="text"] {
      border: 1px solid #999;
      border-radius: 5px;
      margin-left: 10px;
      height: 25px;
      font-family: Montserrat;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s; }
      form .form-block input[type="text"]:active {
        outline: none; }
      form .form-block input[type="text"]:focus {
        outline: none;
        border: 1px solid #486BEB; }
  form input[type="submit"] {
    margin-top: 15px;
    width: 100px;
    height: 35px;
    border: 0;
    outline: 0;
    border-radius: 10px;
    background: #518EFF;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
    form input[type="submit"]:hover {
      background: #52A8FF; }
