* {
  box-sizing: border-box;
}
.table {
  display: inline-block;
  overflow-y: auto;
  height: 400px;
  max-width: 100%;
}

.body {
  position: relative;
  display: flex;
  flex-direction: column;
}

.row {
  display: inline-flex;
  flex-direction: row;
  width: min-content;
  flex: none;
}

.wrapperRow {
  display: inline-flex;
  flex-direction: column;
  width: min-content;
}

.cell {
  display: block;
  flex: none;
}

.title {
  position: relative;
  display: block;
  flex: none;
  cursor: grab;
  padding: 0 10px;
  height: 30px;
  box-sizing: border-box;
  background: #ffffff;
}

.header {
  position: relative;
  display: flex;
  flex-direction: row;
  z-index: 2;
}

.resizeable {
  position: absolute;
  width: 10px;
  left: -10px;
  height: 100%;
  background-color: lime;
  cursor: col-resize;
  z-index: 1500;
}

.draggedColumn {
  cursor: grabbing;
  pointer-events: none;
}

[data-cursor-all-grabbing] {
  * {
    cursor: grabbing !important;
  }
}

[data-cursor-all-resize] {
  * {
    cursor: col-resize;
  }
}

.expand {
  display: inline-block;
  width: 100%;
  height: 200px;
}

.expandWrapper {
  display: inline-block;
}
