.table {
  display: inline-block;
  overflow-y: auto;
  height: 400px;
  max-width: 100%;
}

.body {
  display: flex;
  flex-direction: column;
}

.row {
  display: inline-flex;
  flex-direction: row;
}

.cell {
  display: block;
  flex: none;
}

.title {
  position: relative;
  display: block;
  flex: none;
  cursor: pointer;
}

.header {
  position: relative;
  display: flex;
  flex-direction: row;
  z-index: 2;
}

.resizer {
  position: absolute;
  width: 10px;
  right: 0;
  transform: translateX(50%);
  height: 100%;
  background-color: lime;
  cursor: col-resize;
  z-index: 1500;
}