@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
body {
    min-width: 320px;
    overflow-x: hidden;
    font-family: "Montserrat", "Tahoma", sans-serif;
    font-size: 14px;
}
#root {
    display: flex;
    justify-content: center;
}