* {
    margin: 0;
    padding: 0;
}
#root {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Tahoma;  
}
.IShop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #ededed;
}
.IShop > .Header {
    font-size: 23px;
    text-align: center;
}
.IShop > .Goods {
    display: flex;
    flex-direction: column;
}
.IShop > .Goods div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    margin: 20px 0;
    cursor: pointer;
}
.IShop > .Goods div > h2{
    font-size: 18px;
}
.IShop > .Goods div > span{
    font-size: 12px;
}
.IShop > .Goods div > .Delete {
    width: 100px;
    padding: 10px 0;
    background: #999;
    color: #fff;
    cursor: pointer;
}
