.card {
    width: 100%;
    padding: 10px 15px;
}
.card label {
    position: relative;
}
.card h3 {
    color: #fff;
    font-size: 17px;
    padding: 10px 0;
}
.card.look {
    font-size: 15px;
    background: #AF4FEB;
}

.card.look div{
    margin: 8px 0;
    color: #E8E2A9;
}
.card.look div span{
    font-weight: bold;
    font-size: 18px;
}
.card.edit {
    font-size: 13px;
    background: #5D9FA6;
    color: #fff;
    font-weight: bold;
}
.card.edit label{
    display: flex;
    width: 300px;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.card.edit label input{ 
    height: 100%;
    font-family: Montserrat;
    padding-left: 5px;
}
.card.edit .btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 5px 0 5px;
    cursor: not-allowed;
    background-color: #A6A2A4;
    color: #fff;
    font-weight: normal;
    user-select: none;
}
.card.edit .btn.active {
    cursor: pointer;

}
.card.edit .save.active {
    background-color: #42FF6A;
    color: #fff;
}
.card.edit .cancel.active {
    background-color: #FF4943;
    color: #fff;
}
.card.add {
    font-size: 13px;
    background: #EBA96B;
    color: #fff;
    font-weight: bold;
}
.card.add label{
    display: flex;
    width: 300px;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.card label span.message {
    position: absolute;
    right: -20px;
    font-weight: normal;
    font-size: 11px;
    padding: 6px 15px;
    border-radius: 10px;
    opacity: 0;
    transform: translateX(100%);
    transition: .5s;
}
.card label span.message.active {
    opacity: 1;
}
.card label span.message.error {
    color: #fff;
    background-color: #FF4944;
}
.card label span.message.success {
    color: #fff;
    background-color: #09FF4B;
}
.card.add label input{ 
    height: 100%;
    font-family: Montserrat;
    padding-left: 5px;
}
.card.add .btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 5px 0 5px;
    cursor: not-allowed;
    background-color: #A6A2A4;
    color: #fff;
    font-weight: normal;
    user-select: none;
}
.card.add .btn.active {
    cursor: pointer;

}
.card.add .save.active {
    background-color: #7BD5FF;
    color: #fff;
}
.card.add .cancel.active {
    background-color: #EBDD6C;
    color: #fff;
} 