.product {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    text-align: center;
    font-size: 14px;
    box-sizing: border-box;
    cursor: copy;
}
.product.highlight {
    background-color: #BAE892;
}
.product span ,
.product .btn{
    flex: 1;
}
.product .id {
    font-weight: bold;
}
.product .btn {
    padding: 10px 0;
    margin: 0 5px;;
    font-size: 15px;
    box-sizing: padding-box;
    background-color: #A6A2A4;
    color: #fff;
    cursor: not-allowed;
    user-select: none;
    transition: box-shadow .1s linear;
}
.product .btn.active:active {
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.3);
}
.product .btn.active {
    cursor: pointer;
}
.product .delete.active{
    background-color: #FF8A79;
    color: #000;
}
.product .edit.active {
    background-color: #7DD7FF;
}