* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Century Gothic';
    font-size: 14px;
    min-width: 320px;
    overflow-x: hidden;
}
.container {
    width: 1280px;
    margin: 0 auto;
}
header {}
header table {
    width: 100%;
}
header img.logo {
    width: 100%;
    outline: none;
    border: 0;
}
header h1.title {
    font-size: 17px;
    color: #3259FF;
}
header table tr:first-child td:nth-child(2) {
    padding-left: 10px;
}
header table tr:nth-child(2) td {
    padding-left: 10px;
    text-align: center;
}
header table tr:nth-child(2) td a {
    text-decoration: none;
    color: #0080FF;
    font-size: 16px;
}
header table tr:nth-child(2) td a.active {
    font-weight: bold;
}
header table tr:nth-child(2) td a:hover {
    filter: hue-rotate(50deg)
}
header table tr:nth-child(3) td {
    padding-top: 40px;
    padding-bottom: 10px;
    border-bottom: solid 5px #333;
}
header table tr:nth-child(3) td h2 {
    font-size: 29px;
    color: #333;
}