.container {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: rgba(0,0,0,0.2);
}

.contentToTop {
  align-items: stretch;
}

.content {
  display: inline-block;
}
