
input[type="text"] {
    font-size: 15px;
    border: 1px solid #333;
    outline: none;
    padding: 7px 0;
}
.btn {
    display: inline-block;
    font-family: Tahoma;
    font-size: 15px;
    background-color: #ededed;
    cursor: pointer;
    padding: 10px 30px;
    margin-left: 20px;
    transition: .15s;
}
.btn:hover {
    background-color: #333;
    color: #fff;
}
.info {
    font-family: Tahoma;
    font-weight: bold;
    font-size: 12px;
}