@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  height: 1000vh; }

.hidden {
  display: none; }

.ModalX {
  position: fixed;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  font-family: "Montserrat";
  z-index: 999999999; }
  .ModalX.modalx-alert {
    width: 450px;
    padding: 20px 10px 20px 10px;
    cursor: pointer;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
    .ModalX.modalx-alert .modalx-title {
      font-size: 18px;
      font-weight: bold;
      margin: 0 0 16px 0; }
    .ModalX.modalx-alert .modalx-text {
      font-size: 14px; }
    .ModalX.modalx-alert-success {
      background: #1ebf5b;
      color: #fff; }
      .ModalX.modalx-alert-success:hover {
        background: #21a252; }
      .ModalX.modalx-alert-success:active {
        background: #1f8c48; }
    .ModalX.modalx-alert-error {
      background: #e03a3a;
      color: #fff; }
      .ModalX.modalx-alert-error:hover {
        background: #c73434; }
      .ModalX.modalx-alert-error:active {
        background: #8f2c2c; }
    .ModalX.modalx-alert-primary {
      background: #38f;
      color: #fff; }
      .ModalX.modalx-alert-primary:hover {
        background: #2060ba; }
      .ModalX.modalx-alert-primary:active {
        background: #255ca8; }
  .ModalX.modalx-alert-btn {
    width: 450px;
    padding: 20px 10px 20px 10px; }
    .ModalX.modalx-alert-btn .modalx-title {
      font-size: 18px;
      font-weight: bold;
      margin: 0 0 16px 0; }
    .ModalX.modalx-alert-btn .modalx-text {
      display: block;
      font-size: 14px; }
    .ModalX.modalx-alert-btn .modalx-btn {
      float: right;
      margin: 20px 25px 0 0;
      padding: 8px 25px;
      font-size: 14px;
      background: #fff;
      color: #e03a3a;
      cursor: pointer;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s; }
      .ModalX.modalx-alert-btn .modalx-btn:hover {
        -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1); }
    .ModalX.modalx-alert-btn-success {
      background: #1ebf5b;
      color: #ffffff; }
      .ModalX.modalx-alert-btn-success .modalx-btn {
        background: #fff;
        color: #1ebf5b; }
        .ModalX.modalx-alert-btn-success .modalx-btn:hover {
          -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1); }
    .ModalX.modalx-alert-btn-error {
      background: #e03a3a;
      color: #fff; }
      .ModalX.modalx-alert-btn-error .modalx-btn {
        background: #fff;
        color: #e03a3a; }
        .ModalX.modalx-alert-btn-error .modalx-btn:hover {
          -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1); }
    .ModalX.modalx-alert-btn-primary {
      background: #38f;
      color: #fff; }
      .ModalX.modalx-alert-btn-primary .modalx-btn {
        background: #fff;
        color: #38f; }
        .ModalX.modalx-alert-btn-primary .modalx-btn:hover {
          -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1); }
  .ModalX.modalx-prompt {
    width: 450px;
    padding: 20px 10px 20px 10px; }
    .ModalX.modalx-prompt .modalx-title {
      font-size: 18px;
      font-weight: bold;
      margin: 0 0 16px 5px; }
    .ModalX.modalx-prompt .modalx-text {
      display: block;
      font-size: 15px;
      margin: 0 0 16px 5px; }
    .ModalX.modalx-prompt .modalx-input {
      display: block;
      margin: 0 auto 15px auto;
      width: 90%;
      height: 30px;
      border: 0; }
    .ModalX.modalx-prompt .modalx-btn {
      display: inline-block;
      float: right;
      margin: 0 20px 0 0;
      padding: 8px 25px;
      cursor: pointer;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s; }
    .ModalX.modalx-prompt-primary {
      background: #38f;
      color: #fff; }
      .ModalX.modalx-prompt-primary .modalx-btn {
        background: #fff;
        color: #38f; }
        .ModalX.modalx-prompt-primary .modalx-btn:hover {
          -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1); }
      .ModalX.modalx-prompt-primary .modalx-input {
        font-family: "Montserrat";
        background: #38f;
        color: #fff;
        border-bottom: 2px solid #2060ba;
        font-size: 15px;
        letter-spacing: 1.5px; }
        .ModalX.modalx-prompt-primary .modalx-input:focus {
          outline: 0; }
        .ModalX.modalx-prompt-primary .modalx-input::-webkit-input-placeholder {
          color: #255ca8; }
        .ModalX.modalx-prompt-primary .modalx-input:-ms-input-placeholder {
          color: #255ca8; }
        .ModalX.modalx-prompt-primary .modalx-input::-ms-input-placeholder {
          color: #255ca8; }
        .ModalX.modalx-prompt-primary .modalx-input::placeholder {
          color: #255ca8; }
  .ModalX.modalx-confirm {
    width: 450px;
    padding: 20px 10px 20px 10px; }
    .ModalX.modalx-confirm .modalx-title {
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      margin: 0 0 16px 5px; }
    .ModalX.modalx-confirm .modalx-text {
      display: block;
      font-size: 15px;
      text-align: center;
      margin: 0 0 16px 5px; }
    .ModalX.modalx-confirm .modalx-btn {
      display: inline-block;
      width: 49%;
      float: left;
      height: 40px;
      font-size: 16px;
      font-weight: bold;
      line-height: 40px;
      text-align: center;
      cursor: pointer;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s; }
      .ModalX.modalx-confirm .modalx-btn:hover {
        -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1); }
      .ModalX.modalx-confirm .modalx-btn-false {
        float: right; }
    .ModalX.modalx-confirm-primary {
      background: #38f;
      color: #fff; }
      .ModalX.modalx-confirm-primary .modalx-btn {
        background: #fff;
        color: #38f; }
        .ModalX.modalx-confirm-primary .modalx-btn:hover {
          -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1); }
      .ModalX.modalx-confirm-primary .modalx-input {
        font-family: "Montserrat";
        background: #38f;
        color: #fff;
        border-bottom: 2px solid #2060ba;
        font-size: 15px;
        letter-spacing: 1.5px; }
        .ModalX.modalx-confirm-primary .modalx-input:focus {
          outline: 0; }
        .ModalX.modalx-confirm-primary .modalx-input::-webkit-input-placeholder {
          color: #255ca8; }
        .ModalX.modalx-confirm-primary .modalx-input:-ms-input-placeholder {
          color: #255ca8; }
        .ModalX.modalx-confirm-primary .modalx-input::-ms-input-placeholder {
          color: #255ca8; }
        .ModalX.modalx-confirm-primary .modalx-input::placeholder {
          color: #255ca8; }
  .ModalX.center {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .ModalX.center-x-top {
    left: 50%;
    top: 0;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  .ModalX.center-x-bottom {
    left: 50%;
    top: 100%;
    -webkit-transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%); }
  .ModalX.center-y-left {
    left: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }
  .ModalX.center-y-right {
    left: 100%;
    top: 50%;
    -webkit-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%); }
  .ModalX.left {
    left: 0;
    top: 0;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  .ModalX.right {
    left: 100%;
    top: 0;
    -webkit-transform: translate(-100%, 0%);
    -ms-transform: translate(-100%, 0%);
    transform: translate(-100%, 0%); }
  .ModalX.left-bottom {
    left: 0;
    top: 100%;
    -webkit-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    transform: translate(0, -100%); }
  .ModalX.right-bottom {
    left: 100%;
    top: 100%;
    -webkit-transform: translate(-100%, -100%);
    -ms-transform: translate(-100%, -100%);
    transform: translate(-100%, -100%); }
