* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 9000px;
}
img {
  display: inline-block;
  max-width: 300px;
  cursor: grab;
  user-select: none;
}
img:nth-child(1) {
  left: 0;
}
img:nth-child(2) {
  left: 300px;
}
img:nth-child(3) {
  left: 600px;
}