* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    font-family: Roboto;
}
#clock {
    position: relative;
    width: 600px;
    height: 350px;
    border: 2px solid #666;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    background-color: #24364A;
}
.clock-mini {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #DBD261;
    color: #fff;
    transform: translateX(-50%);
    left: 20%;
    top: 40px;
}
.clock-mini:nth-child(2) {
    background: #DB6377;
    left: 50%;
}
.clock-mini:nth-child(3) {
    background: #64DB76;
    left: 80%;
}
.clock-mini .arrow {
    position: absolute;
    width: 34%;
    height: 2px;
    background: #5154DB;
    transform-origin: 0;
    left: 50%;
    top: 50%;
}
.clock-mini:nth-child(2) .arrow {
    background: #9800E6;
}
.clock-mini:nth-child(3) .arrow {
    background: #00B3E6;
}
.clock-mini .arrow:before,
.clock-mini .arrow:after {
    content: "";
    position: absolute;
    width: 7px;
    height: 1px;
    background: #333;
    right: 0;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(30deg);
}

.clock-mini h3 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: bold;
}

.clock-mini .arrow-second {
    transition: .1s;
}
.clock-mini .arrow-second {
    transition: .1s;
}
.clock-mini .arrow-second {
    transition: .1s;
}

.clock-mini .arrow:before {
    transform: rotate(-20deg);
}
.clock-mini .number {
    position: absolute;
}
.clock-number {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 300px;
    height: 80px;
    bottom: 30px;
    left: 50%;
    background-color: #262F57;
    transform: translateX(-50%);
    border-radius: 20px;
}

.clock-number .time{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 9px;
    color: #0BDBD3;
}