* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    font-family: Roboto;
}
#clock {
    position: relative;
    width: 350px;
    height: 450px;
    border: 2px solid #666;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    background-color: #24364A;
}
.clock-mini {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #00A5CF;
    color: #fff;
    transform: translateX(-50%);
    left: 50%;
    top: 80px;
}
.clock-mini .arrow {
    position: absolute;
    width: 1px;
    height: 42%;
    background: #5154DB;
    transform-origin: 50% 100%;
    transform: translate(-50%, -100%);
    left: 50%;
    top: 50%;
    z-index: 3;
}
.clock-mini .arrow.arrow-minute {
    width: 2px;
    height: 33%;
    background: #EB2570;
}
.clock-mini .arrow.arrow-hour {
    width: 3px;
    height: 25%;
    background: #9800E6;
}
.clock-mini .number {
    position: absolute;
}
.clock-mini .center {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 50%;
    top: 50%;
    background: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}


.clock-number {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 300px;
    height: 80px;
    bottom: 30px;
    left: 50%;
    background-color: #262F57;
    transform: translateX(-50%);
    border-radius: 20px;
}

.clock-number .time{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 9px;
    color: #0BDBD3;
}