.table {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.head {
  display: flex;
  cursor: pointer;
  padding: 20px 20px;
}
.draggingColumn {
  position: fixed;
  left: 0;
  top: 0;
}

.hidden {
  visibility: hidden;
}