.btn {
    display: inline-flex;
    height: 40px;
    padding: 10px 20px;
    background-color: #3f1eef;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.add {
    background-color: #3e1;
    &:hover {
        background-color: #3f2;
    }
}
.subtract {
    background-color: #e31;
    &:hover {
        background-color: #f32;
    }
}