<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Modal X - About</title>
	<link rel="shortcut icon" href="../img/MX-logo-browser.png" type="image/png">
	<link rel="stylesheet" type="text/css" href="../css/reset.css">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" type="text/css" href="../css/about.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400i&display=swap" rel="stylesheet">
</head>
<body>
	<nav class="nav">
		<div class="wrapper">
			<a class="ModalX-logo" href="../index.html">MX</a>
			<ul class="nav-menu">
				<a href="../index.html" class="nav-menu-item">
					<li>Home</li>
				</a>
				<a href="documentation.html" class="nav-menu-item">
					<li>Documentation</li>
				</a>
				<a href="examples.html" class="nav-menu-item">
					<li>Examples</li>
				</a>
				<a href="about.html" class="nav-menu-item">
					<li>About us</li>
				</a>
			</ul>
			<div class="links">
				<a class="git" href="#"><i class="fab fa-github"></i></a>
				<a class="telegram" href="#"><i class="fab fa-telegram"></i></a>
				<a href="#" class="btn download">Download</a>
			</div>
		</div>
	</nav>
	<div class="header">
	<div class="first_pic"></div>
	<div class="first_dark_pic"></div>
	<div class="first_block_main">
		<h1 class="title">Modal X</h1>
		<p class="subtitle">A universal framework which will nice complement any site, <br> and its components ideally replace standard modal windows</p>
			<a class="btn started" href="#sec_block">
					Get Started
			</a>
		</div>
	</div>
	<div id="sec_block" class="sec_block">
		<div class="sec_block_header">
			<div class="sec_block_header_pic">
				
			</div>
			<h2 class="sec_block_header_title">
				WHAT WE <span class="sec_block_header_title_spec">DO</span>
			</h2>
		</div>
		<div class="sec_block_main">
			<div class="sec_block_main_item">
				<div class="sec_block_main_item_img"><img src="../img/design.jpg" alt="" class="sec_block_main_item_pic"></div>
				<div class="sec_block_main_item_text">
					<h1 class="sec_block_main_item_text_title">
						Custom design
					</h1>
					<p class="sec_block_main_item_text_parag">
						In our modal windows we use only unic and exclusive design made by ourself
					</p>
				</div>
			</div>
			<div class="sec_block_main_item">
				<div class="sec_block_main_item_img"><img src="../img/diplom.jpg" alt="" class="sec_block_main_item_pic"></div>
				<div class="sec_block_main_item_text">
					<h1 class="sec_block_main_item_text_title">
						Good quality
					</h1>
					<p class="sec_block_main_item_text_parag">
						Only best and creative programmers and designers have worked on this project
					</p>
				</div>	
			</div>
			<div class="sec_block_main_item">
				<div class="sec_block_main_item_img"><img src="../img/differences.jpg" alt="" class="sec_block_main_item_pic"></div>
				<div class="sec_block_main_item_text">
					<h1 class="sec_block_main_item_text_title">
						Difference
					</h1>
					<p class="sec_block_main_item_text_parag">
						We listened to different opinions to make our project more useful and pleasing
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="third_block">
		<div class="third_block_pic"></div>
		<div class="third_block_dark"></div>
		<div class="third_block_main">
			<div class="third_block_header">
				<div class="third_block_header_pic">
					<img src="../img/third_block_man.png" alt="Картинка">
				</div>
				<h2 class="third_block_header_title">
					WHO ARE <span class="third_block_header_title_spec">WE</span>
				</h2>
			</div>
			<div class="third_block_nikita">
				<div class="third_block_nikita_1">
					<div class="third_block_nikita_pic">
						<img src="../img/nikita_r.jpg" alt="">
					</div>
					<div class="third_block_nikita_text">
						<h3 class="third_block_nikita_text_title">
							TOLSTIK NIKITA &#128516;
						</h3>
						<p class="third_block_nikita_text_prof">
							DESIGNER
						</p>
						<p class="third_block_nikita_text_p">
							Young Belarusian designer, who stuying in Lyceum BSU and in free time creates exciting models for web sites and apps. Some of his works are used by large international companies. 
						</p>
					</div>
				</div>
			</div>
			<div class="third_block_alex">
				<div class="third_block_alex_1">
					<div class="third_block_alex_pic">
						<img src="../img/sanek_r.jpg" alt="">
					</div>
					<div class="third_block_alex_text">
						<h3 class="third_block_alex_text_title">
							ALEXANDER DYACHENKA &#128526;
						</h3>
						<p class="third_block_alex_text_prof">
							WEB DEVELOPER
						</p>
						<p class="third_block_alex_text_p">
							Smart and creative web developer from Belarus, who creates professional and adaptive web sites and apps from clents from around the world. And he doesn't think to stop.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="fourth_block">
		<div class="fourth_block_header">
			<div class="fourth_block_header_pic">
				<img src="../img/phone_book.jpg" alt="Picture">
			</div>
			<h2 class="fourth_block_header_title">
				HOW TO CONTACT <span class="fourth_block_header_title_spec">US</span>
			</h2>
		</div>
		<div class="fourth_block_main">
			<div class="fourth_block_main_logo">
				<div class="fourth_block_main_logo_title">
					<h3><a href="../index.html">MX</a></h3>
				</div>
				<div class="fourth_block_main_logo_feed">
					<a class="git" href="#"><i class="fab fa-github"></i></a>
					<a class="telegram" href="#"><i class="fab fa-telegram"></i></a>
				</div>
				<div class="fourth_block_main_logo_loc">
					<p>Belarus, Minsk, Lyceum BSU</p>
				</div>
			</div>
			<form action="mail.php" class="form-write-us" method="POST">
				<h3>WRITE US</h3>
				<input name="name" class="input-name" type="text" placeholder="NAME">
				<input name="email" class="input-mail" type="email" placeholder="MAIL">
				<textarea name="message" class="input-message" placeholder="MESSAGE"></textarea>
				<button class="btn send" type="submit">SEND</button>
			</form>
		</div>
		<div class="fourth_block_footer">
			<p>© 2019 3WEB Company, Inc.</p>
		</div>
	</div>
</body>
</html>