<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Modal X - Documentation</title>
	<link rel="shortcut icon" href="../img/MX-logo-browser.png" type="image/png">
	<link rel="stylesheet" type="text/css" href="../css/reset.css">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" type="text/css" href="../css/documentation.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400i&display=swap" rel="stylesheet">
</head>
<body>
	<nav class="nav">
		<div class="wrapper">
			<a class="ModalX-logo" href="../index.html">MX</a>
			<ul class="nav-menu">
				<a href="../index.html" class="nav-menu-item">
					<li>Home</li>
				</a>
				<a href="documentation.html" class="nav-menu-item">
					<li>Documentation</li>
				</a>
				<a href="examples.html" class="nav-menu-item">
					<li>Examples</li>
				</a>
				<a href="about.html" class="nav-menu-item">
					<li>About us</li>
				</a>
			</ul>
			<div class="links">
				<a class="git" href="#"><i class="fab fa-github"></i></a>
				<a class="telegram" href="#"><i class="fab fa-telegram"></i></a>
				<a href="../dist.rar" class="btn download">Download</a>
			</div>
		</div>
	</nav>
	<div class="main_block">
		<div class="main_block_title">
			<h2>
				HOW TO USE IT
			</h2>
		</div>
		<div class="main_block_download_links">
			<h3>1. Download CSS and JS files from GitHub</h3>
			<div class="code_block">
				<div class="code_block_text">
					<a class="main_link" href="https://github.com/V1be-Official/ModalX">https://github.com/V1be-Official/ModalX</a>
				</div>
			</div>
		</div>
		<div class="main_block_creating_objects">
			<h3>2. Choose which modal window you need to use</h3>
			<h4>ALERT</h4>
			<div class="code_block">
				<div class="code_block_text">
					var objAlert = { <br>
     					<span class="code-obj">titleText</span>: <span class="code-prop">"Подтвердите действия!"</span>, <br>
     					<span class="code-obj">text</span>: <span class="code-prop">"Добро пожаловать!"</span>, <br>
     					<span class="code-obj">className</span>: <span class="code-prop">"center-x-top"</span>, <br>
     					<span class="code-obj">duration</span>: <span class="code-prop">400</span>, <br>
     					<span class="code-obj">durationOut</span>: <span class="code-prop">3000</span>, <br>
     					<span class="code-obj">type</span>: <span class="code-prop">"primary"</span>, <br>
     					<span class="code-obj">buttonText</span>: <span class="code-prop">"Хорошо"</span>, <br>
     					<span class="code-obj">button</span>: <span class="code-prop">true</span>, <br>
		 				}
				</div>
			</div>
			<h4>CONFIRM</h4>
			<div class="code_block">
				<div class="code_block_text">
					var objConfirm = { <br>
     					<span class="code-obj">titleText</span>: <span class="code-prop">"Подтвердите действия!"</span>, <br>
     					<span class="code-obj">text</span>: <span class="code-prop">"Добро пожаловать!"</span>, <br>
     					<span class="code-obj">className</span>: <span class="code-prop">"center-x-top"</span>, <br>
     					<span class="code-obj">duration</span>: <span class="code-prop">400</span>, <br>
     					<span class="code-obj">durationOut</span>: <span class="code-prop">3000</span>, <br>
     					<span class="code-obj">type</span>: <span class="code-prop">"primary"</span>, <br>
     					<span class="code-obj">buttonTextFalse</span>: <span class="code-prop">"Нет"</span>, <br>
     					<span class="code-obj">buttonTextTrue</span>: <span class="code-prop">"Да"</span> <br>
 					}
				</div>
			</div>
			<h4>PROMPT</h4>
			<div class="code_block">
				<div class="code_block_text">
					 var objPrompt = { <br>
     					<span class="code-obj">titleText</span>: <span class="code-prop">"Подтвердите действия!"</span>, <br>
     					<span class="code-obj">text</span>: <span class="code-prop">"Добро пожаловать!"</span>, <br>
     					<span class="code-obj">className</span>: <span class="code-prop">"center-x-top"</span>, <br>
     					<span class="code-obj">duration</span>: <span class="code-prop">400</span>, <br>
     					<span class="code-obj">durationOut</span>: <span class="code-prop">3000</span>, <br>
     					<span class="code-obj">type</span>: <span class="code-prop">"primary"</span>, <br>
     					<span class="code-obj">buttonText</span>: <span class="code-prop">"Хорошо"</span>, <br>
     					<span class="code-obj">inputText</span>: <span class="code-prop">"Type your name"</span> <br>
 					}
				</div>
			</div>
		</div>
		</span>
		<div class="main_block_call_obj">
			<h3>3. Calling objects</h3>
			<h4>ALERT</h4>
			<div class="code_block">
				<div class="code_block_text">
 					var <span class="code-prop">modal</span> = <span class="code-obj">new ModalX</span>(); <br>
 					modal.<span class="code-func">alert</span>(<span class="code-prop">objAlert</span>); <br>
				</div>
			</div>
			<h4>CONFIRM</h4>
			<div class="code_block">
				<div class="code_block_text">
					var <span class="code-prop">modal</span> = <span class="code-obj">new ModalX</span>(); <br>
					<span class="code-prop">modal</span>.<span class="code-func">confirm</span>(objConfirm, function(<span class="code-prop">result</span>) { <br>
     				console.log(<span class="code-prop">result</span>); <br>
 					}); <br>
				</div>
			</div>
			<h4>PROMPT</h4>
			<div class="code_block">
				<div class="code_block_text">
					var <span class="code-prop">modal</span> = <span class="code-obj">new ModalX</span>(); <br>
					<span class="code-prop">modal</span>.<span class="code-func">prompt</span>(objPrompt, function(<span class="code-prop">result</span>) { <br>
     				console.log(<span class="code-prop">result</span>); <br>
 					}); <br>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
			<p>© 2019 3WEB Company, Inc.</p>
	</div>
</body>
</html>