<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Modal X - Examples</title>
	<link rel="shortcut icon" href="../img/MX-logo-browser.png" type="image/png">
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/ModalX.css">
	<link rel="stylesheet" href="../css/examples.css">
	
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap" rel="stylesheet">
	
</head>
<body>
	<nav class="nav">
		<div class="wrapper">
			<a class="ModalX-logo" href="../index.html">MX</a>
			<ul class="nav-menu">
				<a href="../index.html" class="nav-menu-item">
					<li>Home</li>
				</a>
				<a href="documentation.html" class="nav-menu-item">
					<li>Documentation</li>
				</a>
				<a href="examples.html" class="nav-menu-item">
					<li>Examples</li>
				</a>
				<a href="about.html" class="nav-menu-item">
					<li>About us</li>
				</a>
			</ul>
			<div class="links">
				<a class="git" href="#"><i class="fab fa-github"></i></a>
				<a class="telegram" href="#"><i class="fab fa-telegram"></i></a>
				<a href="#" class="btn download">Download</a>
			</div>
		</div>
	</nav>
	
	<main class="main">
		<h1>Modal Frames</h1>
		<h2>Just add Modal frames</h2>
		<div class="select">
			<div class="option">
				<div class="option-item" id="main-option-item">success<i class="fas fa-sort-down"></i></div>
				<ul class="option-menu hidden">
					<li class="option-menu-h">Alert</li>
					<li class="option-menu-item" data-name="alert" data-func="success">success</li>
					<li class="option-menu-item" data-name="alert" data-func="primary">primary</li>
					<li class="option-menu-item" data-name="alert" data-func="error">error</li>
					<li class="option-menu-h">Alert with button</li>
					<li class="option-menu-item" data-name="alert-btn" data-func="success">success</li>
					<li class="option-menu-item" data-name="alert-btn" data-func="primary">primary</li>
					<li class="option-menu-item" data-name="alert-btn" data-func="error">error</li>
					<li class="option-menu-h">Prompt</li>
					<li class="option-menu-item" data-name="prompt" data-func="primary">primary</li>
					<li class="option-menu-h">Confirm</li>
					<li class="option-menu-item" data-name="confirm" data-func="primary">primary</li>
				</ul>
			</div>
			<a class="show" id="modal-show-it">Show it</a>
			<div class="line"></div>
			<div class="links">
				<a class="download" href="#">Download Modal X</a>
				or
				<a class="github" href="#">View on GitHub</a>
			</div>
			<h6>© 2019 3WEB Company, Inc.</h6>
		</div>
	</main>
	<script src="../js/ModalX.js"></script>
	<script src="../js/example.js"></script>
</body>
</html>