.modal {
  position: relative;
  width: 60%;
  background-color: #ffffff;
  box-shadow: 0 14px 25px 0 rgba(0, 0, 0, 0.25);
  font-size: 14px;
  border-radius: 5px;
  line-height: 1.4;
}

.closeIcon {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}
