* {
  box-sizing: border-box;
}

.sbbol_table {
}

.sbbol_table_fixed {
  table-layout: fixed;
}

.sbbol_table_container {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 400px;
  overflow: auto;
  overflow-y: hidden;

}

.sbbol_table_container_body {
  display: inline-block;
  overflow-x: visible;
  overflow-y: auto;
  max-height: 100%;
  width: fit-content;
}

.sbbol_table_container_titles_wrapper {
  width: 100%;
}

.sbbol_table_container_titles {
  position: relative;
  display: inline-block;
  top: 0;
  left: 0;
  background-color: #fff;
}

.sbbol_table_titles {
  width: 100%;
}

.sbbol_table_title {
  padding: 20px 0;
  background-color: #fff;
}

.resizer {
  position: absolute;
  height: 100%;
  width: 12px;
  cursor: col-resize;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  background-color: transparent;
  border-radius: 12px;
  z-index: 1;
  &:hover {
    background-color: #e6e6e6;
  }
}

.hidden {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  transform: translate(-100%, -100%);
}
